<!DOCTYPE html>
<html>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <div class="container">
        <div class="data_content_box">
            <div class="home">
                Name: <input type="text" name="fname" required><br>
                <form method="POST" action="/landing/Food">
                    <input type="submit" value="Food Test">
                </form>
                <form method="POST" action="/landing/NVI">
                    <input type="submit" value="NVI Test">
                </form>
            </div>
        </div>
        </div>
        {% endblock %}
    </body>
</html>