 <!DOCTYPE html>
<html>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <div class="container">
        <div class="data_content_box">
            <div class="home">
                <form method="POST" action="/read_data">
                    Name: <input type="text" name="fname" required><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        </div>
        {% endblock %}
    </body>
</html>