<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Page</title>
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        
            
            <div class ="flex-container">

                <div class = "left-group">
                    <form method="POST" action="/confirm_data">
                        <input type="submit" value="Confirm Value">
                    </form>
                    <form method="POST" action="/read_data">
                        <input type="submit" value="Reload Value">
                    </form>
                    <form method="POST" action="/monophasic_form">
                        <input type="submit" value="Monophasic Wave Form">
                    </form>
                </div>
                <div class = "mid-group"></div>
                <div class = "right-group">
                    <a href="{{ url_for('change_current_vessel') }}">
                        <div class = "vessel-name-num">
                            <h1>{{num}}</h1>
                            <p><b>Vessel: {{selected_vessel}}</b></p>
                            
                        </div>
                    </a>

                    {% if current_vessel_values %}
                    <a href="{{ url_for('delete_recent') }}">
                        <div class="num-display">
                            <p>PI Upper: <b>{{current_vessel_values[0]}}</b></p>
                            <p>PI Lower: <b>{{current_vessel_values[1]}}</b></p>
                            <p>VF Upper: <b>{{current_vessel_values[2]}}</b></p>
                            <p>VF Lower: <b>{{current_vessel_values[3]}}</b></p>
                        </div>
                    </a>
                    {% endif %}
                </div>
                
        </div>
        
        {% endblock %}
    </body>
</html>
